*.com
*.class
: Building targets ...
*.dll
*.exe
*.o
*.so
*.so.0
*.so.0.*
*.a
*.os

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

*.bak
*.pyc
.env

.vscode
*.code-workspace
.sconf_temp/
build
doc/manual/
.sconsign.dblite
libneil/REVISION
libneil/options.conf
options.conf
libneil/src/libzzub/libzzub.def
libneil/include/zzub/zzub.h
libneil/include/zzub/zzub_api.h
libneil/include/zzub/zzub_data.h
libneil/include/zzub/signature.h
libneil/src/pyzzub/zzub/
libneil/src/plugins/vst3adapter/vst3-*-build
libneil/src/plugins/vst3adapter/vst3sdk

src/neil/lib/
.qtc_clangd/
neil.*
