[submodule "libneil/src/plugins/vst3adapter/vst3sdk"]
	path = libneil/src/plugins/vst3adapter/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk
	ignore = untracked
[submodule "libneil/src/loguru"]
	path = libneil/src/loguru
	url = https://github.com/emilk/loguru
[submodule "libneil/src/gist"]
	path = libneil/src/gist
	url = https://github.com/adamstark/Gist
[submodule "libneil/src/faust"]
	path = libneil/src/faust
	url = https://github.com/grame-cncm/faust
[submodule "libneil/src/faustlibraries"]
	path = libneil/src/faustlibraries
	url = https://github.com/grame-cncm/faustlibraries
