[submodule "libneil/src/plugins/vst3adapter/vst3sdk"]
	path = libneil/src/plugins/vst3adapter/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk
	ignore = dirty
[submodule "libneil/src/loguru"]
	path = libneil/src/loguru
	url = https://github.com/emilk/loguru
[submodule "libneil/src/gist"]
	path = libneil/src/gist
	url = https://github.com/adamstark/Gist
[submodule "libneil/src/faust"]
	path = libneil/src/faust
	url = https://github.com/grame-cncm/faust
	ignore = dirty
[submodule "libneil/src/faustlibraries"]
	path = libneil/src/faustlibraries
	url = https://github.com/grame-cncm/faustlibraries
[submodule "libneil/src/plugins/vstadapter/VST_SDK_2.4"]
	path = libneil/src/plugins/vstadapter/VST_SDK_2.4
	url = https://github.com/R-Tur/VST_SDK_2.4.git
[submodule "libneil/src/minizip"]
	path = libneil/src/minizip
	url = https://github.com/rogerou/minizip.git
	ignore = dirty
