/* "dark" dark theme */


dialog#connector  {
    background-color: #000000;
    color: #aaa;
}



dialog#connector widget {
    background-color: #000000;
    color: #aaa;
}

dialog#connector widget.selected {
    background-color: #141;
    color: #ada;
}



/* audio ports  */
dialog#connector widget.audio {
    background-color: #124;
    color: #aaa;
}

dialog#connector widget.audio.selected {
    background-color: #236;
    color: #69e;
}


/* parameter ports */
dialog#connector widget.param  {
    background-color: #133;
    color: #aaa;
}

dialog#connector widget.param.selected {
    background-color: #244;
    color: #6aa;
}



/* track ports */
dialog#connector widget.track  {
    background-color: #133;
    color: #aaa;
}

dialog#connector widget.track.selected {
    background-color: #244;
    color: #6aa;
}
